.emoji {
  font-size: xx-large;
  display: inline-block;
  margin: -6px 6px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.emoji:hover {
  transform: scale(2);
}

.tab {
  cursor: pointer;
  flex: 1;
  display: flex;
  padding: 0px 14px;
  transition: 0.5s;
  padding: 10px 0px;
  justify-content: center;
}

.tab:hover {
  opacity: 0.5;
}