#emojiSection {
    padding: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    max-height: 600px;
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
}

#emojiSection a {
    padding: 10px;
    font-size: x-large;
    transition: transform 200ms;
    cursor: pointer;
}

#emojiSection a:hover {
    background-color: rgb(153, 49, 17);
    transform: scale(1.5)
}

#emojiSection h5,
h6 {
    display: inline;
    cursor: pointer;
}

#emojiSection .active {
    color: rgb(119, 17, 17);
}
