.App {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  
  height: 100vh;
  width: 100vw;
}

.login {
  align-self: center;
  border-radius: 20px;
  width: 300px;
}

.newsText {
  margin: -10px 0px;
}

.section1 {
  text-align: center;
  padding: 50px;
}

.section1 p {
  padding: 30px;
  font-size: x-large;
}